<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Salary Calculator</title>
	<style>	
		.field{
			margin-bottom: 10px;
		}
		label{
			display: block;
		}
		#divResult{
			color : red;
			font-size: 20pt;
			font-weight: bold;
		}
		body{
			margin-left: 100px;
		}
	</style>
	<script src="jquery-1.12.4.min.js"></script>
	<script src="angular.js"></script>
	
	<script>
		
		//Model
		function SalaryCalculator(){
			this.basic = 0;
			this.hra = 0;
			this.da = 0;
			this.tax = 0;
			this.salary = 0;
		}

		SalaryCalculator.prototype.calculate = function(){
			var gross = this.basic + this.hra + this.da;
			var net = gross * ((100-this.tax)/100);
			this.salary = net;
		}

		//View
		angular
			.module("myApp", [])
			.run(function($rootScope){
				window.rootScope = $rootScope;
				//console.log(arguments);
				//$rootScope.calculator = new SalaryCalculator();
			});
	</script>
</head>
<body ng-app="myApp">
	<h1>Salary Calculator</h1>
	<hr>
	<div class="content">
		<div class="field">
			<label for="">Basic :</label>
			<input type="number" id="txtBasic" ng-model="calculator.basic">
		</div>
		<div class="field">
			<label for="">HRA :</label>
			<input type="number" id="txtHra" ng-model="calculator.hra">
		</div>
		<div class="field">
			<label for="">DA :</label>
			<input type="number" id="txtDa" ng-model="calculator.da">
		</div>
		<div class="field">
			<label for="">Tax :</label>
			<input type="range" id="rangeTax" min="0" max="30" ng-model="calculator.tax">
			<span id="spanTax" ng-bind="calculator.tax">[Tax]</span>
		</div>
		<div class="field">
			<input type="button" value="Calculate" id="btnCalculate" ng-click="calculator.calculate()">
		</div>
		<div class="field">
			<div id="divResult" ng-bind="calculator.salary | currency:'Rs'">[Salary]</div>
		</div>
	</div>
</body>
</html>