<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bug Tracker</title>
	<style>
		.stats, .bugname{
			font-size: 20pt;	
		}
		.bugname{
			cursor : pointer;
		}
		.closed{
			color : red;
			text-decoration: line-through;
			font-weight: bold;
			font-style: italic;
		}
		section{
			margin-bottom: 10px
		}
		ol{
			width: 500px;
			list-style: none;
		}
		li{
			margin-bottom: 10px;
			padding : 5px;
			border : 1px solid gray;
			background-color: #e7e7e7;
			border-radius: 5px;
		}
		body{
			margin-left: 100px;
		}
		.datetime{
			font-size: small;
			font-style: italic;
		}
	</style>
	<script type="text/javascript">
	/*
		1. Add a new bug - done
		2. List of bugs - done
		3. Toggle the 'closed' status of a bug - done
		4. Remove 'closed' bugs - done
		5. Display statistics - done
		6. Search for bugs - done
		7. Sort the bugs - done
		8. Improve the bug display - done
		9. Persist the bugs in the localStorage - done
			window.localStorage
			===================
			* key/value store
			* value has to be a string
			* key has to be unique
			APIs
			----
				- setItem(key, value)
				- getItem(key) //=> value
				- removeItem(key)
				- key(index) //=> key at index
				- clear()
				- length

			Note:
				Use angular.toJson() and angular.fromJson() for serialization and deserialization

		10. Display 'createdAt' for each bug
		
		11. Persist the bugs in the server
		12. Make the bugs accessible using a url
	*/
	</script>
	<script src="angular.js"></script>
	<script src="moment.js"></script>
	<script src="utils.js"></script>
	<script>

		var bugTrackerApp = angular.module("bugTrackerApp", ["utils"]);

		bugTrackerApp.value('appDefaults',{
			bugName : 'Something went wrong - [default]',
			trimLength : 30
		});

		bugTrackerApp.service('bugOperations', function(appDefaults){
			this.toggle = function(bug){
				return bug.isClosed = !bug.isClosed;
			};
			this.create = function(id, bugName){
				return {
					id : id,
					name: bugName || appDefaults.bugName,
					isClosed : false,
					createdAt : new Date()
				};
			};
		});

		bugTrackerApp.factory("bugStorage", function(bugOperations){
			var maxBugId = 0;
			var storage = window.localStorage;

			function getAllBugs(){
				var result = [];
				for(var i=0; i<storage.length; i++){
					var key = storage.key(i);
					var data = storage.getItem(key);
					var bug = angular.fromJson(data);
					maxBugId = maxBugId > bug.id ? maxBugId : bug.id;
					result.push(bug);
				}
				return result;
			}
			function addNewBug(bugName){
				++maxBugId;
				var newBug = bugOperations.create(maxBugId, bugName);
				saveBug(newBug);
				return newBug;
			}
			function toggleBug(bug){
				bugOperations.toggle(bug);
				saveBug(bug);
			}
			function saveBug(bug){
				storage.setItem(bug.id, angular.toJson(bug));
			}
			function removeBug(bug){
				storage.removeItem(bug.id);
			}
			return {
				getAll : getAllBugs,
				addNew : addNewBug,
				toggle : toggleBug,
				remove : removeBug
			};
		});

		bugTrackerApp.factory("bugsCollection", function(bugStorage){
			var bugs = bugStorage.getAll();
			return {
				list : bugs,
				addNewBug : function(bugName){
					var newBug = bugStorage.addNew(bugName);
					bugs.push(newBug);
				},
				toggleBug :function(bug){
					bugStorage.toggle(bug);
				},
				removeClosed : function(){
					for(var i=bugs.length-1; i>=0; i--)
						if (bugs[i].isClosed){
							bugStorage.remove(bugs[i]);
							bugs.splice(i,1);
						}
				}
			};
		})
		
		bugTrackerApp.controller("bugsController", function($scope, bugsCollection){
			$scope.bugs = bugsCollection;
			$scope.addNew = function(bugName){
				bugsCollection.addNewBug(bugName);
				$scope.newBugName = '';
			};
		});



		/*bugTrackerApp.filter('toClosedCount', function(){
			return function(bugs){
					var result = 0;
					for(var i=bugs.length-1; i>=0; i--)
						if (bugs[i].isClosed)
							++result;
					return result;
				};
		});*/
		/*bugTrackerApp.filter("toClosedCount", function($filter){
			var builtInFilter = $filter('filter');
			return function(bugs){
				return builtInFilter(bugs, {isClosed : true}).length;
			};
		});*/
		bugTrackerApp.filter("toClosedCount", function(){
			return function(bugs){
				return bugs.reduce(function(result, bug){
					return bug.isClosed ? ++result : result;

				},0);
			};
		});
		
	</script>
</head>
<bod ng-app="bugTrackerApp">
	<h1>Bug Tracker</h1>
	<hr>
	<div class="content" ng-controller="bugsController">
		<section class="stats">
			<!-- <span class="closed">{{ (bugs.list | filter:{isClosed:true}).length }}</span> -->
			<span class="closed">{{ bugs.list | toClosedCount }}</span>
			<span> / </span>
			<span>{{bugs.list.length}}</span>
		</section>
		<section class="search">
			<label for="">Search :</label>
			<input type="text" ng-model="searchBug.name">
			<label for="">Is Closed ? :</label>
			<input type="checkbox" ng-model="searchBug.isClosed">
			<input type="button" value="Show All" ng-click="searchBug.isClosed=''">
		</section>
		<section class="sort">
			<label for="">Order By :</label>
			<!-- <input type="text" ng-model="bugSortBy"> -->
			<select ng-model="bugSortBy">
				<option value="name">Name</option>
				<option value="isClosed">Status</option>
			</select>
			<label for="">Descending ? :</label>
			<input type="checkbox" ng-model="bugSortOrder">
		</section>
		<div class="section edit">
			<label for="">Bug :</label>
			<input type="text" ng-model="newBugName">
			<input type="button" value="Add New" ng-click="addNew(newBugName)">
		</div>
		<section class="list">
			<ol>
				<li ng-repeat="bug in (bugs.list | filter:searchBug | orderBy:bugSortBy:bugSortOrder) ">
					<span class="bugname" ng-click="bugs.toggleBug(bug)" ng-class="{closed : bug.isClosed}">
						{{bug.name | trimText:20}} 
					</span>
					<small><i><sup>[{{bug.id}}]</sup></i></small>
					<div class="datetime">{{bug.createdAt | elapsed}}</div>
				</li>
			</ol>
			<input type="button" value="Remove Closed" ng-click="bugs.removeClosed()">
		</section>
	</div>
</body>
</html>